PORT=5000
MONGODB_URI=mongodb+srv://himanshubarman7070_db_user:YOUR_PASSWORD@testing.2rfhpvq.mongodb.net/stayease?appName=Testing
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
